# WebScraping using Selenium - Assignment 1

In [1]:
# ! pip install selenium

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
# Driver needs to be connected for scrapping, lets connect the driver first
driver = webdriver.Chrome(r"C:\Data Trained\chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_location = driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys("Banglore")

In [6]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [7]:
## Fetching the url from which the data needs to be scrapped
url="https://www.naukri.com/data-analyst-jobs-in-banglore?k=data%20analyst&l=banglore"
driver.get(url) ## opening the saved url

In [8]:
## We need to scrap job-title, job-location,company-name & experience-required, will create an empty list for these first.

job_title = []
job_loc = []
comp_name = []
exp_reqd = []

In [9]:
## Extracted the tag for job_title and saved it under title_tags
title_tags = driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")
title_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="0dfcf24d-2933-4bc3-ab60-a7ebc1b1d734")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="7fcfe827-ece8-4d90-8557-eb6b6e044b21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="a202d7ed-7c5d-4e77-9f8e-c5ccd6a2669b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="87df5a0d-d06f-46bf-997d-994294d6cc7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="a76ed105-873e-4c84-8354-b30eee91405e")>]

In [10]:
## We need the text from these tags, hence will use loop command to get the text and save under job_title

for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:11]

['Data Engineer/Data Analyst- Chennai',
 'Azure Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst - Alteryx, Tableau and SQL',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

Here we now have top 10 job titles, lets proceed to scrape the remaining 3 attributes of the data.

In [11]:
loc_tags = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="fdab1b40-9431-4530-9641-5498cb706e90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="75f3598e-53f0-4994-a94c-de979bb148cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="42ff3e8a-b51c-4024-9572-cb73915502d2")>]

In [12]:
## We got the location tags above, lets fetch the text from it & save it under job_loc

for i in loc_tags:
    loc=i.text
    job_loc.append(loc)
    
job_loc[0:11]  ## Top 10 list

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

Similarly will scrape the data of using tags for company name and experience required and save the text of these tags under  comp_name = [] & exp_reqd = []

In [13]:
name_tags=driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
exp_tags = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']/span[1]")
name_tags[0:3]
exp_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="3dca01c2-048b-4a11-a782-d3630e2d840c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="67c324fb-258b-4dc2-8a18-29545b2a8817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68665f790e91084f6922fa0bef21d40d", element="e75853e2-9d2c-4404-ad25-c2ef773e9248")>]

In [14]:
for i in name_tags:
    name=i.text
    comp_name.append(name)
comp_name[0:11]

['Inflexion Analytix Private Limited',
 'Capgemini Technology Services India Limited',
 'Super India Tech Mark',
 'Flipkart Internet Private Limited',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'Schneider Electric',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [15]:
for i in exp_tags:
    exp=i.text
    exp_reqd.append(exp)
comp_name[0:11]

['Inflexion Analytix Private Limited',
 'Capgemini Technology Services India Limited',
 'Super India Tech Mark',
 'Flipkart Internet Private Limited',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'Schneider Electric',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [16]:
print(len(job_title),len(job_loc),len(comp_name),len(exp_reqd))

20 20 20 20

The required data is in list format above.A dataframe needs to be created to save these data's and the question mentioned top 10 records, hence the dataframe will consist only top 10 data records.

In [17]:
naukri_jobs=pd.DataFrame({})
naukri_jobs['title']=job_title[0:11]
naukri_jobs['location']=job_loc[0:11]
naukri_jobs['comp_name']=comp_name[0:11]
naukri_jobs['exp_reqd']=exp_reqd[0:11]

In [18]:
naukri_jobs

,title,location,comp_name,exp_reqd
0,Data Engineer/Data Analyst- Chennai,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Inflexion Analytix Private Limited,0-2 Yrs
1,Azure Data Analyst,Bangalore/Bengaluru,Capgemini Technology Services India Limited,6-8 Yrs
2,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,0-2 Yrs
3,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
4,Data Analyst,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,1-2 Yrs
5,"Data Analyst - Alteryx, Tableau and SQL",Bangalore/Bengaluru,Schneider Electric,2-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
10,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs

In [19]:
driver.close()

# Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

To begin with necesary drivers need to be called and the url is to be automated. Then using find_elements_by_xpath the url with desired job title and location is opened from which the data needs to be scrapped.

In [20]:
import time

In [21]:
driver = webdriver.Chrome(r"C:\Data Trained\chromedriver.exe")
driver.get('https://www.naukri.com/')
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_location = driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys("Banglore")
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [22]:
## Fetching the url from which the data needs to be scrapped
url="https://www.naukri.com/data-scientist-jobs-in-banglore?k=data%20scientist&l=banglore"
driver.get(url) ## opening the saved url

In [23]:
title = []  ### empty list created for job_title
loc = []  #### e,plty lift created for location 
name = [] ### empty created list created for company name

### used loop for scrape job_title, location & company_name from the first page of the url 

for k in driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']"): 
    title.append(k.text)
for i in driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span"):
    loc.append(i.text)
for p in driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']"):
    name.append(p.text)
    
print(len(title),len(loc),len(name))

20 20 20

In [24]:
jd_url = []  ## to save all the url 
jd_full = [] ## As we need full job description created an empty list for same

for j in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"): 
    jd_url.append(j.get_attribute('href')) ### get the attribute from job-title to get inside a particular job detail
for u in jd_url:  #### looping to fetch the url's
    driver.get(u)  #### get the url to scrape job description
    for d in driver.find_elements_by_xpath("//div[@class = 'dang-inner-html']"): ## element for scrapping full job description
        jd_full.append(d.text) ## save the text of job descripton from the the tag
    time.sleep(3)
print(len(jd_full))

16

In [25]:
job_ds=pd.DataFrame({}) ## Creates an empty dataframe for saving the data scrapped
job_ds['job_title']=title[0:11] ## job_title feature, top - 10 data saved
job_ds['location']=loc[0:11] ### location feature
job_ds['comp_name']=name[0:11] ### company name feature
job_ds['description']=jd_full[0:11] ### job description feature

In [26]:
job_ds

,job_title,location,comp_name,description
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,Responsibilities and Duties\nCreate innovative...
1,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,Roles and Responsibilities\n\n\n- Selecting fe...
2,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Practice Area Profile\nBCG GAMMA combines in...
3,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,What Youll Do\n\nWe re looking for a passi...
4,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,About Ganit Inc\n\nFounded by senior industry ...
5,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,Roles and Responsibilities\n\nMust have strong...
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,"Responsibilities\nResearches, develops and m..."
7,Data Scientist,Bangalore/Bengaluru,Schneider Electric India Pvt. Ltd.,The Role\nGeneral Position Definition\nThis ro...
8,Associate Data Scientist - CRM & Loyalty,Bangalore/Bengaluru,Shell India Markets Private Limited,Support business in their decision making ne...
9,Data Scientist - Business Analytics,Bangalore/Bengaluru,Philips India Limited,Free Training program for Data science and Mac...
10,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,Qualification B.Tech/B.E. (Computers)\n Roles...

In [27]:
driver.close()

# Q3: In this question you have to scrape data using the filters available on naukri.com

### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### The location filter to be used is “Delhi/NCR”
### The salary filter to be used is “3-6” lakhs
### You have to scrape the job-title, job-location, company_name, experience_required.

In [ ]:
driver = webdriver.Chrome(r"C:\Data Trained\chromedriver.exe")
driver.get('https://www.naukri.com/')
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()